body{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    align-items: center;
    background-color:#8d62048a;

}

.loginbox{
    margin-right: 35%;
    margin-left: 35%;
    height: 100%;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    
}

.logo{
    width: 80%;
    margin-left: 10%;
    height: 200px;
    margin-top: 50px;
    border: none;
    align-items: center;
}

.form{
    width: 100%;
    height: auto;
    margin-top: 30px;
    border: none;
}

.input{
    width: 90%;
    height: 30px;
    background-color: transparent;
    border: none;
    color:white;
    outline: none;
    border-bottom: 1px solid white;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon{
    font-size:30px;
    color:#7f0000;
    margin-left:10px;
    width:25px;
    height: 25px;
}
.butt{
    width: 60%;
    height: 40px;;
    margin-left: 20%;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: #7f0000;
    color: white;
}



    
    
   