@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
 

}

/* ------------- evaluation forms ------------*/

.diveva{
  margin-top: 30px;
  margin-bottom: 20px;

 
}
.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width:auto; height: 18px; background-color: #4CAF50;}
.bar-4 {width: auto; height: 18px; background-color: #2196F3;}
.bar-3 {width: auto; height: 18px; background-color: #00bcd4;}
.bar-2 {width: auto; height: 18px; background-color: #ff9800;}
.bar-1 {width: auto; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
      width: 100%;
  }
  .right {
      display: none;
  }
}

/*------------form style --------------*/
.form_subSat{
  margin-top: 15px;
  margin-right: 10px;
  width:100;
  height:70px;
  display: flex;
  direction: rtl;
}

.label_form{
  height: 30px;
  font-size: 20px;
  color: black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 5px;
}
.input_form{
  height: 30px;
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
.button_form{
  height: 35px;
  width:120px;
  font-size: 20px;
  color: black;
  margin-top: 20px; 
  margin-right: 15px;
  background-color: #eeb808;
  border:none;
  border-radius: 50px;
}



/*---------------------------------*/
div.table-title {
display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


.table-margin{
  margin-top: 20px;
}


/*** toolbar styles ***/

.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  direction: rtl;
}
.log_outbuttonn{
  margin-right:985px;
}
.arrow_back{
  font-size: 50px;
  margin-top: 15px;
  color: #eeb808;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color:#eeb80883;
  color: black;
}

.topnav a.active {
  background-color: #eeb808;
  color: white;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: auto;
  max-width: 600px; 
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:black;
  background:white;
  border-bottom:3px solid #b90707;
  border-right: 1px solid #b90707;
  font-size:18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
  text-align: center;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color:black;
  font-size:10px;
  font-weight:normal;
}
 
/*tr:hover td {
  background:#b1070759;
  border-top: 1px solid #22262e;
}*/
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#eeb80873;
}
/* 
tr:nth-child(odd):hover td {
  background:#b1070759;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #7f0000;
  
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*_____________new user form _________________*/

.newuser_form{
  margin-top:20px;
  border: 3px solid #eeb80850;
  width:60%;
  margin-left: 20%;
}


.reg_line{
  margin-top:20px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  direction: rtl;
}
.reg_line1{
  margin-top:20px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:center;
}

.reg_label{
  font-size: 27px;
  color: black;
  margin-right: 30px;
}

.reg_input{
  font-size: 20px;
  color: black;
  margin-right: 30px;
  border: none;
  border-bottom: 2px solid black;
  width: 250px;
}


.reg_input2{
  font-size: 25px;
  color: black;
  margin-right: 50px;
  border: none;
  border-bottom: 2px solid black;
  width: 250px;
}

.reg_button{
  border: none;
  width: 200px;
  border-radius: 20px;
  background-color: #eeb808;
  color: #000;
  font-size: 25px;
}

.reg_line2{
  margin-top:40px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content:center;
  margin-bottom: 30px;
 
}

.reg_Select{
  font-size: 25px;
  color: black;
  margin-right: 30px;
  border: none;
  border-bottom: 2px solid black;
  width: 250px;
}
